.brands {
	padding: 0px 15px;
	&__title {
		margin-bottom: 60px;
	}
	&__filter {
		border-bottom: 2px solid rgba(133, 143, 164, 0.15);
		padding-bottom: 20px;
	}
	&__filter-element {
		transition: all 0.6s ease 0s;
		background: #1a1a25;
		margin-right: 15px;
		&:last-child {
			margin-right: 0;
		}
		&.active {
			background: #f53b49;
		}
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
	}
	&__column {
		flex: 0 1 20%;
	}
	&__images {
		position: relative;
		padding: 0px 0px 40% 0px;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&__subject-filter {
		padding: 30px 0;
	}
	&__subject-btn {
		transition: all 0.6s ease 0s;
		background: rgba(144, 156, 181, 0.2);
		border-radius: 4px;
		padding: 9px 12px;
		color: #384255;
		font-weight: bold;
		line-height: 17px;
		margin-right: 12px;
		&:last-child {
			margin-right: 0;
		}
		&.active {
			background: #f53b49;
			color: #fff;
		}
	}
	&__line {
		display: flex;
	}
	&__col {
		&:first-child {
			flex: 0 1 15%;
			border-right: 1px solid rgba(133, 143, 164, 0.15);
		}
		&:last-child {
			flex: 0 1 85%;
			padding-left: 10px;
		}
	}
}

.menu-brends {
	&__list {
		li {
			padding: 20px 0;
			border-bottom: 1px solid rgba(133, 143, 164, 0.15);
		}
	}
	&__link {
		transition: all 0.5s ease 0s;
		font-weight: bold;
		font-size: 16px;
		line-height: 150%;
		color: #384255;
		@media (min-width: 992px) {
			&:hover {
				color: #f53b49;
			}
		}
	}
}
